<!DOCTYPE HTML>
<html lang='pt-br'>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    
    </script>
    <body style=" text-align: center">
        <h1>Home Assistant</h1>
        <div>
            <form action="."  method="POST" name='form'>
                <img src="https://icon-library.com/images/light-bulb-icon-transparent/light-bulb-icon-transparent-16.jpg" width="50" height="50"/>
                <br><br>
                <label for="gender">Lights: </label>
                <input type="radio" name="lights" value="1" checked>On</input>
                <input type="radio" name="lights" value="-1">Off</input>
                <br><br>
                <img src="https://icon-library.com/images/air-icon/air-icon-18.jpg" width="50" height="50"/>
                <br><br><label for="gender">Air: </label>
                <input type="radio" name="air" value="1" checked>On</input>
                <input type="radio" name="air" value="-1">Off</input>
                <br><br>
                <img src="https://images.vexels.com/media/users/3/217793/isolated/preview/0956022a968a707c607256b3131d1f7f-abundant-smoke-icon.png" width="50" height="50"/>
                <br><br><label for="gender">Smoke: </label>
                <input type="radio" name="smoke" value="1" checked>On</input>
                <input type="radio" name="smoke" value="-1">Off</input>
                <br><br><input id="txt" type="submit" name='submit' value="Send">
            </form>
        </div>
    </body>
</html>